<div id="<%= dom_id wig %>">
  <p>
    <strong>Name:</strong>
    <%= wig.name %>
  </p>

  <p>
    <strong>Wig Type:</strong>
    <%= wig.wig_type %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= wig.color %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= wig.price %> €
  </p>

  <p>
    <strong>Description:</strong>
    <%= wig.description %>
  </p>

  <p>
    <strong>Wig Owner:</strong>
    <%= wig.user.email %>
  </p>

</div>
