<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <div class="category">
      <%= image_tag "_long.svg" %>
      <p><strong>Long</strong></p>
    </div>

    <div class="category">
      <%= image_tag "_short.svg" %>
      <p><strong>Short</strong></p>
    </div>

    <div class="category">
      <%= image_tag "_afro.svg" %>
      <p><strong>Afro</strong></p>
    </div>

    <div class="category">
      <%= image_tag "_weavy.svg" %>
      <p><strong>Weavy</strong></p>
    </div>

    <div class="category">
      <%= image_tag "_curly.svg" %>
      <p><strong>Curly</strong></p>
    </div>

    <div class="category">
      <%= image_tag "_rasta.svg" %>
      <p><strong>Rasta</strong></p>
    </div>

    <div class="category">
      <%= image_tag "_ginger.svg" %>
      <p><strong>Ginger</strong></p>
    </div>

    <div class="category">
      <%= image_tag "_blonde.svg" %>
      <p><strong>Blonde</strong></p>
    </div>

    <div class="category">
      <%= image_tag "_brunette.svg" %>
      <p><strong>Brunette</strong></p>
    </div>

    <div class="category">
      <%= image_tag "_gray.svg" %>
      <p><strong>Gray</strong></p>
    </div>

    <div class="category">
      <%= image_tag "_black.svg" %>
      <p><strong>Black</strong></p>
    </div>

  </div>
</div>

<p class='text-center' style="color: green"><%= notice %></p>

<div class= "container cards">

    <% @wigs.each do |wig| %>
      <%= render "shared/wigs_card", wig: wig %>
    <% end %>

</div>
